@model AdminPanal.Models.OrderT

@{
    ViewBag.Title = "Home";
}


<h3>Are you sure this Order is Canceled?</h3>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div>
    <h4>Order Number : @Html.DisplayFor(model => model.OrderID)</h4>
    <hr />




    @using (Html.BeginForm("Delete", "OrdersMcv", new { id = Model.OrderID }, FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group" >
            <b class="control-label col-md-2">Cancel Massage</b>
            <div class="col-md-10">
                <input style="margin-bottom:15px" class="form-control" name="msg" id="msg"/>
            </div>
        </div>
        <div class="form-actions no-color" >

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cancel" name="Delete" class="btn btn-default" />
            </div>

        </div>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }


</div>

